*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: Helvetica,Arial,sans-serif;
}
/*Header*/
.box-header{
  position: relative;
  width: 100%;
}
.banner{
  width: 100%; 
  height: auto;
}
.logo{
  width: 20%;
  position: absolute;
  top: 0;
  margin-left: 10%;
  margin-top: 30px;
}
/*midias social*/
.box-social{   
  position: absolute;  
  right: 10%;  
  bottom: 0;
  padding-bottom: 10px; 
  padding: 10px;
} 
.box-social img{
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}
 .box-social img:hover{    
    transform: scale(1.1);
    transition: 0.7s;
  }
.box-social p{
  text-align: center;
}
.img-responsive{
  width: 100%;
  max-width: 100%;
  height: auto;
}
/*MENU DESKTOP*/
nav{
  width: 100%;
  height: 50px;
  background-color:rgba(1, 142, 212, 1);  
}
.container{
  width: 70%;
  margin: auto;
}
.nav-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: nowrap;
  margin-top: -6px;
  position: relative;
}
ul.menu-desktop{
  list-style-type: none;
  display: flex;
}
ul.menu-desktop a{
  text-decoration: none;  
  color: #fff;
  padding: 0 30px;
  line-height: 50px;  
  font-family: 
}
ul.menu-desktop a:hover{
  border-bottom: 3px solid rgba(255,21,21, 0.8);
}

/*MENU MOBILE*/
ul.menu-mobile{  
  list-style-type: none; 
  position: absolute;
  background-color:rgba(1, 142, 212, 1);
  padding-left:10px;
  display: none;
}
ul.menu-mobile li{
  font-size: 40px;
  line-height: 50px;
  color: #fff; 
}
ul.menu-mobile li ul{  
 width: 170px;
 line-height: 50px;
 display: none;   
 list-style-type: none;
}
ul.menu-mobile a{
  text-decoration: none;
  color: #fff;  
}
ul.menu-mobile li ul li{ 
  line-height: 50px;
  font-size: 15px;  
}
ul.menu-mobile:hover ul{
  display: block;  
}
ul.menu-mobile li ul li:hover{ 
  text-decoration: underline;
}


/*Sessão main*/
.row{
  padding-top: 50px;
  padding-bottom: 40px;
  height: auto;
}

/*Tratamentos*/
section.artigos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.art-item{
  width: 32%;
  height: auto; 
  margin-bottom: 23px;
  transition: 0.5s;
  cursor: pointer;
}
.art-item:hover{
  box-shadow: 3px 3px 20px gray;
  transition: 0.5s;
  transform: scale(1.1);
}
blockquote{
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 25px;
  border-left: 3px solid rgba(1, 142, 212, 1);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #444;
  
}
.triangulo{
 opacity: 42%;
 text-align: center; 
}
.faixa{
  width: 100%;
  height: 50px;
  background-color: rgba(1, 142, 212, 0.42);
  margin-top: -6px;
}
/*Depoimentos*/
.depoiments{
  display: flex;
  justify-content: space-between;
}
figure.depo{
  width: 200px;
}
.depo-paciente{
  border-radius: 100%;
}
/*Tipografia*/
.txt-justify{
  text-align: center;
  color: #444;
}
h1{
  color: #436EBE ;
}
.title-center{
  text-align: center;
}
.titulo{
  color: rgba(1, 142, 212, 1);  
  font-family: 'Open Sans', sans-serif;  
}
figcaption{
  text-align: center;  
  padding-top: 20px; 
}
figcaption p{  
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; 
  color: #444;
}
hr{
  color: rgba(1, 142, 212, 1); 
}
/*Duvidas*/
.question{
  font-size: 1.3em;  
}
/*Depoimentos*/
.depo-title{
  color: #436EBE;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 50px;
}
/*titulo depoimento*/
.name{
  font-size: 1.4em;
  color: rgba(1, 142, 212, 1); 
}
h1{
  font-family: 'Quattrocento Sans', sans-serif;
}

/*Pagina Tratamentos*/
/*logo invertido*/
.logo1{
  width: 20%;
  position: absolute;
  top: 0;
  right: 20%; 
  margin-top: 30px;
}
.tratamentos{
  margin-top: 60px;
}
.img-art{  
  display: flex;
  flex-wrap: nowrap;  
  margin-bottom: 30px;    
}
.img-art img{
  width: 60%;  
  transition: 0.5s;
}
.img-art img:hover{
  opacity: 60%;
  transition: 0.5s; 
}
.txt{
 width: 70%;
 height: auto;  
 transition: 0.5s;
}
.txt:hover{
  transform: scale(0.9);
  transition: 0.5s;
}
.txt p{   
  text-align: center;
  padding: 0 10px;
  font-size: 0.9em;
  color: #444;    
}
.txt h3{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #018ed4;
  text-align: center;
  margin-top: 40px;
}
/*Pagina SOBRE-NÓS*/
.title-sobre-nos{
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 35px;
  color: #436ebe;
  font-weight: 700;    
  text-align: center;
}
.txt-intro p{
  text-align: center;  
  padding-top: 20px
}
/*img da clinica*/
.workspace{
  margin-top: 50px;
  text-align: center;   
  max-height: 100%;
  max-width: 626px;
}
.title-prof{
  margin-top:6%;
}
.prof{   
  width: 60%;  
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;    
}
.second-img{
  width: 60%; 
  height: auto;
  display: flex;
  flex-wrap: wrap;    
  margin-top: 50px;  
  margin-bottom: 50px;
  justify-content: center;
}
.fig-prof{
  width: 20%; 
  margin-left: 20px
}
/*Nomes do profissionais*/
figure >div{
  text-align: center;
  color: #018ED4;
  font-size: 1.3em;
  margin-top: 15px;
}
figure.fig-prof img{
  border-radius: 100%;   
}

/*PAGINA AGENDAR CONSULTA*/
.formulario{    
  display: flex;
  justify-content: center;  
  margin-top: 50px;
  margin-bottom: 20px;    
}
.campo{
  width: 250px;  
  padding-left: 10px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #ddd;  
  margin-left: 10px;  
}
.caixa-txt{
  text-align: center;  
}
.titulo2{   
  width: 60%;
  margin: auto;
}
.titulo2 p{
  font-size: 1.3em;
  font-weight: 800;
}
textarea{
  max-width: 100%;
}
/*PAGINA CONTATO*/
.info-contato{
  margin-top: 7%;
  margin-bottom: 3%;
  background-color:rgba(1, 142, 212, 0.1);
  
}
.info-contato p{
  padding: 10px;
  font-weight: 550;
}
iframe{
  width: 100%; 
}
/*Footer*/
.estrela{
  text-align: center;  
  opacity: 50%;
}
footer{
  width: 100%;
  height: auto;;
  background-color: rgba(1, 142, 212, 0.42);
  margin-top: -51px;
}
.rodape-logo{
  text-align: center;  
}
.rodape-logo img{
  width: 30%;
  height: auto; 
  margin-top: 24px;
  opacity: 95%;
}
.rodape{
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: -30px;
}
.rodape-item{
  display: flex;  
  flex-direction: nowrap;  
  padding-bottom: 10px; 
}
.info-parceiros{
  margin-bottom: 27px;  
  margin-top: -30px
}
.info-parceiros .rodape-item img{
  border-radius: 20%;
}
.rodape-item p{
  margin-left: 10px;
  margin-top: 30px;  
  cursor: pointer;
}
.info-rodape .title-rodape{
  font-size: 1.8em; 
}
.info-rodape p{
  margin-top: 27px;
  font-size: 1.1em
}
/*midias queries*/
@media only screen and (max-width:800px){
   .logo1{
  width: 20%;
  position: absolute;
  top: 0;
  right: 11%; 
  margin-top: 1px;
}
  .estrela img{
    width: 15%; 
    height: auto;
  } 
  footer{
    margin-top: -36px;
  }   
  .box-social img:hover{    
    transform: scale(1.1);
    transition: 0.7s;
  } 
  .question{
    font-size: 1.0em;
  }
  .container{
    width: 90%;
  }
  figure.depo{
    margin-left: 20px;
  } 
  .rodape-logo img{
    width: 25%;
    height: auto;
  }
  .info-parceiros{
    font-size: 0.6em;
    padding-top: 10px;
  }  
  .img-art img{
    width: 60%;
    height: auto;
  }
  .txt h3{
  margin-top: 0;  
  }
  ul.menu-desktop a{
    padding: 0 20px;
  }
  .campo{
    width: 220px;     
  }
  .titulo2{
    text-align: center;
  }
}
/*Celular*/
@media only screen and (max-width:500px){
  .logo1{
  width: 20%;
  position: absolute;
  top: 0;
  right: 20%; 
  margin-top: 5px;
}
  .box-social{
    bottom: ;
    top: 55%;
    opacity: 90%;
    transition: 0.7s;
  }
  .box-social img:hover{    
    transform: scale(1.1);
    transition: 0.7s;
  }
  h1{
    text-align: center;
  }
  .estrela img{
    width: 15%;
  }
  ul.menu-desktop{
    display: none;
  }
  ul.menu-mobile{
    display: block;   
    z-index: 1;
  }
  .row-txt-justify, .hr-1{
    display: none;
  }  
  .container{
    width: 95%;    
  }
  .art-item{
    width: 49%;    
  }
  .art-item:hover{
    transform: scale(0.9);
    transition: 0.5s;
  }
  .info-rodape .title-rodape{
    font-size: 1.1em;
  }
  .info-rodape p{
    font-size: 0.8em;
  }
  .info-parceiros img{
    width: 25%;     
  }
  .info-parceiros p{
    font-size: 0.9em;
    margin-top: 10%;
  }
  .copy{
    font-size: 0.8em;
  }
  .img-art img{
    width: 98%;     
  }
  .txt{
    width: 95%;
    position: absolute;
    margin-top: 10%;    
  }
  .txt p{
    color: rgba(0,0,0, 0.8);     
  }  
  h3{
    display: none;
  }
  .campo{
    width: 85%;
  }
  
  
}